infrastructure/oracle_client/*.dll filter=lfs diff=lfs merge=lfs -text
infrastructure/firebird_client/*.dll filter=lfs diff=lfs merge=lfs -text
infrastructure/firebird_client/firebird.msg filter=lfs diff=lfs merge=lfs -text
infrastructure/firebird_client/*.manifest filter=lfs diff=lfs merge=lfs -text
icon.ico filter=lfs diff=lfs merge=lfs -text
